apiVersion: 1

providers:
  - name: 'GitLab Dashboards'
    orgId: 1
    folder: 'GitLab'
    type: file
    disableDeletion: false
    editable: true
    options:
      path: /var/lib/grafana/dashboards
    datasources:
      - name: Prometheus
        uid: DS__GITLAB_OMNIBUS
